@font-face {
  font-family: "PTSans";
  src: url("../fonts/PTSans-Regular.ttf") format("ttf");
  src: url("../fonts/PTSans-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "WorkSans-regular";
  src: url("../fonts/WorkSans-Regular.ttf") format("ttf");
  src: url("../fonts/WorkSans-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "WorkSans-semiBold";
  src: url("../fonts/WorkSans-SemiBold.ttf") format("ttf");
  src: url("../fonts/WorkSans-SemiBold.woff") format("woff");
  font-display: swap;
}
@media only screen and (min-width: 320px) and (max-width: 360px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 480px) {
  html {
    font-size: 16px;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "WorkSans-regular";
}

:root {
  --body_bcgr: #F4F5FC;
  --font_black: #111;
  --blue_color: #5A61ED;
  --border_input_color: #F2F2F2;
  --svg_fill: #F9FAFF;
  --grey_color: #7C7C7C;
  --animate__delay: 1s;
}